$base-color: #191a35;
$white: #fff;
$burger-bg:rgb(164, 155, 252);

.navigation {
    display: flex;
    justify-content: center;

    &__burger {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: $burger-bg;
        &--active {
            display: block;
        }
        &-btn {
            position: fixed;
            z-index: 1;
            top: 2%;
            left: 0;
            color: $white;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        padding: 0 35px;
        margin-top: 5px;
    }
    &__sublist {
        display: flex;
        align-items: center;
        li {
            margin-right: 14px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__item {
        color: $white;
        display: none;
        &:last-child {
            margin-left: auto;
        }
        &:nth-child(3){
            display: block;
        }
        &--active {
            display: block;
            z-index: 1;

            & .navigation__sublist .navigation__item{
                display: block;
            }
        }
    }
    &__link {
        color: inherit;
    }
}
