@import url(reset.scss);
@import url(header.scss);
@import url(sets.scss);
@import url(newSet.scss);
@import url(openSet.scss);


$base-color: #191a35;
body {
    background-color: $base-color;
}
* {
    box-sizing: border-box;
}

main{
    margin-top: 40px;
    padding: 0 10px;
}
