@import url(reset.scss);
@import url(header.scss);
@import url(sets.scss);
@import url(newSet.scss);
@import url(openSet.scss);
@import url(studySet.scss);
@import url(profile.scss);
@import url(settings.scss);
@import url(welcome.scss);
@import "./variables.scss";

body {
    background-color: $base-color;
}
* {
    box-sizing: border-box;
}

.main {
    margin-top: 45px;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .main {
        padding: 0 120px;
    }
}
@media (min-width: 1024px) {
    .main {
        padding: 0 220px;
    }

    .main__container {
        padding: 0 80px;
    }
}
@media (min-width: 1440px) {
    .main__container {
        padding: 0 220px;
    }
}
