@import "./variables.scss";
.sets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    &__item {
        display: flex;
        flex-direction: column;
        color: $white;
        background-color: $setItemBg;
        padding: 10px 15px;
        cursor: pointer;
        &-info {
            margin-bottom: 5px;
            &:first-child {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
