@import "./variables.scss";
.study {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    &__elements {
        display: flex;
        flex-direction: column;
    }
    &__word {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        &-studying{
            color: rgb(202, 202, 254);
            font-size: 18px;
        }
        &:first-child {
            margin-top: 0;
        }
        &-label {
            color: $white;
            margin-bottom: 5px;
        }
    }
    &__result {
        color: $white;
        margin-top: 5px;
    }
    &__button {
        margin-top: 10px;
    }
}
