@import "./variables.scss";
@import "./keyframes.scss";
.study {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    &__elements {
        display: flex;
        flex-direction: column;
    }
    &__word {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        background-color: #fff;
        padding: 5px;
        animation: append 1.5s forwards;
        &-heading {
            color: $white;
            display: inline-block;
            font-size: 19px;
        }
        &-studying {
            color: $learningWord;
            font-size: 19px;
        }
        &:first-child {
            margin-top: 0;
        }
        &-label {
            color: $black;
            margin-bottom: 5px;
        }
        &-hint {
            display: block;
        }
        &-done {
            color: $white;
            margin-top: 5px;
            animation: append 1.5s forwards;
        }
    }
    &__result {
        color: $white;
        margin-top: 10px;
        animation: append 1.5s forwards;
    }
    &__button {
        margin-top: 10px;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        padding: 10px;
        &:disabled {
            color: $disabled;
        }
    }
    &__link {
        color: $white;
        text-align: center;
        margin-top: 10px;
    }
}
