$white: #fff;
$black: #000;
$disabled: rgb(90, 90, 90);
$learningWord: #ffc0ad;
$color-done: rgba(0, 255, 8, 0.478);
$danger: red;
$dangerDisabled: rgba(253, 88, 88, 0.527);
$headline: #fffffe;
$burgerBg: #bb8979;
$background: #55423d;
$backgroundSecondary: #ffc0ad;
$simpleText: #fff3ec;
$simpleTextDark: #271c19;
$button: #ffc0ad;
$buttonHover: #3b28227c;
$buttonText: #271c19;
$burgerText: #c0a69f;
