$white: #fff;
$black: #000;
$setItemBg: #686f95;
$disabled: rgb(62, 62, 62);
$learningWord: rgb(202, 202, 254);
$learningWordTransp: rgba(149, 227, 255, 0.422);
$primary: rgb(164, 155, 252);
$color-done: rgba(0, 255, 8, 0.478);
$danger: red;
$dangerDisabled: rgba(253, 88, 88, 0.527);
$warning: rgb(235, 184, 75);
$base-color: #ffce73;
$primaryBrightHover: rgba(255, 255, 255, 0.355);
$burger-bg: rgb(183, 175, 255);
