@import "./variables.scss";
.welcome{
    &__title{
        color: $white;
        font-size: 1.25rem;
        text-align: center;
    }

    &__list{
        margin-top: 15px;
        &-item{
            a{
                color: $white;
                text-decoration: none;
            }
            font-size: 1.1rem;
            margin-bottom: 10px;
        }
    }
   
    &__button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.05rem;
        background-color: $primary;
        border: 1px solid $white;
        color: $white;
        padding: 10px 15px;
    }
}